# SPDX-FileCopyrightText: 2015 Eric Larson
#
# SPDX-License-Identifier: Apache-2.0

-e .

tox
pytest-cov
pytest
mock
cherrypy
sphinx
redis
lockfile
twine
black
wheel
setuptools_scm
setuptools
# Backport of version in stdlib from Python 3.8 and up:
importlib_metadata; python_version < '3.8'
