# SPDX-FileCopyrightText: 2015 Eric Larson
#
# SPDX-License-Identifier: Apache-2.0

-e .[filecache,redis]

tox
pytest-cov
pytest
cherrypy
sphinx
bumpversion
twine
black
wheel
mypy
types-redis
types-requests
